h2 { 
    color: orange;  
    font-size: 2em;
    text-align: center;
    }
  h3 { 
    color: orange;
    text-align: center;
    }
  h4 { 
    color: orange;
    }
    
  body { 
    background-color: grey; 
    font-size: 20px;
  
  }
  
  #perfil_basico { 
    background-color: antiquewhite;
    text-align: center;
    }
  
  #meu_nome {
   color: orange;
   text-align: center;
   text-decoration: underline;
   }

  .estilo-lista {
    color:white;  
    font-weight: bold; 
    font-style: italic;
    line-height: 40px;
    }
  
  p{
     font-family: monospace, arial, sans-serif}