* {
    margin: 0;
    padding: 0;


}


h2 { 
    color: orange;  
    font-size: 2em;
    text-align: center;
    }
h3 { 
    color: orange;
    text-align: center;
    }
h4 { 
    color: orange;
    }
    
body { 
    background-color: grey; 
    font-size: 20px;
    }
.header {
   color: orange;
   text-align: center;
   text-decoration: underline;
   }
 
.perfil_basico { 
    background-color: antiquewhite;
    text-align: center;
    max-width: 100%;
    /* margin-left: 75px; */
    }
.perfil_detalhado {



}  


.estilo-lista {
    color:white;  
    font-weight: bold; 
    font-style: italic;
    line-height: 40px;
    }

.image1 {
    
    border-radius:50%;
    position:relative;
    left: 50%;

    }
.button {
     color: yellowgreen;
     line-height: 40px;
     font-size: 40px;
     text-decoration:none;
     border-radius: 30px;
     border-color:blue;
     border-style: solid;
     padding: 5px 10px
    
      }
.ombros-de-gigantes {
    color:blue;
    font-weight: bold;
}


p{
     font-family: monospace, arial, sans-serif}